/* Google Font: Roboto Mono */
@import url('fonts.googleapis.com');

body {
  font-family: 'Roboto Mono', monospace;
  background-color: black;
  color: #33FF33;           
}

.cursor {
  font-weight: bold;
  display: inline-block;
  width: 10px;
  animation: blink 1s step-end infinite;
}

@keyframes blink {
  from, to { opacity: 1; }
  50% { opacity: 0; }
}
